html{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:blue;
    border:1px solid black;
    background:yellow;
}
p{
    text-transform: uppercase;
    padding: 10px;
}
p:hover{
    background:gray;
    color:white;
}
li{
    text-decoration:underline;
    margin:2px;
}
li:focus{
    color:darkgray;
    text-decoration:none
}
.classSele{
    font-weight:bold;
    background-color:aquamarine;
    border-left:6px solid aqua;
    text-decoration:none;
}
#idSele{
    background-color: #ff9999;
    border-left: 6px solid #993333;
    text-decoration:none;
}

#first{
  background-color: goldenrod;
}
#second {
  background-color: silver;
}
#third{
  background-color: #CD7F32;
}

.Pseudo{
    padding:0;
}
.Pseudo-li{
    padding:3px;
    margin-bottom:5px;
    list-style-type:none;
    text-decoration:none;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:none;
    color:white;
}

li:nth-of-type(2n) {
  background-color: #ccc;
}
li:nth-of-type(2n+1) {
  background-color: #eee;
}
ul li:hover {
    color:white;
    background:black;
}
[id="pseudo-element"]::first-line{
    font-weight:bold;
}
[id="pseudo-element"]::first-letter{
  font-size: 3em;
  border: 1px solid black;
  background: red;
  display: block;
  float: left;
  padding: 2px;
  margin-right: 4px;
}
.cas {
    background:gray;
    border:1px solid darkgray;
    text-transform:capitalize;
}
.cas:hover{
    background:darkgray;
    color:black;
}
#casId{
    color:white;
    background:darkgray;
}
#casId:hover{
    background:gray;
}
#wrapper * {
    margin:0;
    padding:20px;
    font-size:20px;
    border:20px solid rgba(0,0,0,0.5);
}
#wrapper header,#wrapper footer {
    background-color:blue;
    color:white;
}
#wrapper main{
    margin:5%;
    padding:5%;
    width:60%;
    background-color:yellow;
    color:black;
    border:30px double red;
}
.bgchap{
    font-family: sans-serif;
    padding: 20px;
    background-color: yellow;
}