h1{
    color:blue;
    border:1px solid black;
    background:yellow;
}
p{
    text-transform: uppercase;
    padding: 5px;
}
li{
    text-decoration:underline;
    margin:2px;
}
li:focus{
    color:darkgray;
    text-decoration:none
}
.classSele{
    font-weight:bold;
    background-color:aquamarine;
    border-left:6px solid aqua;
    text-decoration:none;
}
#idSele{
    background-color: #ff9999;
    border-left: 6px solid #993333;
    text-decoration:none;
}
p {

}

 #first{
  background-color: goldenrod;
}

#second {
  background-color: silver;
}

 #third{
  background-color: #CD7F32;
}
.Pseudo{
    padding:0;
}
.Pseudo-li{
    padding:3px;
    margin-bottom:5px;
    list-style-type:none;
    text-decoration:none;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:underline;
    color:darkblue;
}
a::after{
    content:"->";
}
li:nth-of-type(2n) {
  background-color: #ccc;
}

li:nth-of-type(2n+1) {
  background-color: #eee;
}
[id="pseudo-element"]::first-line{
    font-weight:bold;
}
[id="pseudo-element"]::first-letter{
  font-size: 3em;
  border: 1px solid black;
  background: red;
  display: block;
  float: left;
  padding: 2px;
  margin-right: 4px;
}