/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */

/* Rulesets to be matched up with selectors */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border-radius: 1.5em;
  box-shadow: 0px 5px 20px rgba(0,0,0,1)
}
.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}
.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}
.card article img {
  max-height: 100%;
  float: right;
}
.card header,.card footer {
  height: 3em;
  padding: 1em;
}
.card h2,p {
  margin:0;
}
.card article {
  height: 12em;
  background:rgba(0,0,0,0.2);
}
.card h2 {
  font-size: 2.5em;
  height:1em; 
  padding-top: .25em;
}
.card footer p {
  font-size: 1.75em;
  height: 1.75em;
  padding-top: .6em
}
.card article p {
  font-family:Helvetica neue;
  line-height: 1.35em;
  padding-top: 1.75em;
  padding-bottom: 2em;
  padding-left: 1em;
  color: white;
}