/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */

/* Rulesets to be matched up with selectors rgba(0,0,0,1)*/

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border-radius: 1.5em;
  box-shadow: 0px 5px 10px #8E354A;
}
.card:hover {
  box-shadow: 0px 5px 20px #8E354A;
}

.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}
.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}
.card article img {
  max-height: 100%;
  float: right;
}
.card header,.card footer {
  height: 3em;
  padding: 1em;
}
.card h2,p {
  margin:0;
}
.card article {
  height: 12em;
  background:rgba(0,0,0,0.2);
}
.card h2 {
  font-size: 2.5em;
  height:1em; 
  padding-top: .25em;
}
.card footer p {
  font-size: 1.75em;
  height: 1.75em;
  padding-top: .6em
}
.card article p {
  font-family:Helvetica neue;
  line-height: 1.35em;
  padding-top: 1.75em;
  padding-bottom: 2em;
  padding-left: 1em;
  color: white;
}
.tiktok{
  margin: 50px auto;
  padding-top:9px; 
  width: 200px;
  height: 36px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color:white;
  background-color: red;
  border-radius: 8px;
  background-image: linear-gradient(to bottom right,red,blue);
  box-shadow: 0px 3px 5px blue;
}
.tiktok:hover{
  margin: 50px auto;
  width: 200px;
  height: 36px;
  padding-top:9px; 
  font-family: sans-serif;
  font-weight: bold;
  font-size: 19px;
  color:lightgray;
  text-align: center;
  background-color: red;
  border-radius: 8px;
  /*background-image: linear-gradient(to top right,blue,red);*/
  box-shadow: 0px 3px 15px blue;
}
.coolbox{
  margin: 50px auto;
  padding-top:9px; 
  width: 200px;
  height: 36px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color:red;
  text-align: center;
  text-shadow:1px 1px 1px black;
  background-color: red;
  border-radius: 8px;
  border: 1px solid #8E354A;
  background-image: linear-gradient(to top left,rgba(0,0,0,0.2),rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),
              inset -2px -2px 3px rgba(0,0,0,0.6),
              2px 2px 5px black;
}
.tiktokBox{
  margin:50px auto;
  width: 320px;
  height: 180px;
  padding-top:9px; 
  border-radius: 15px;
  background-image: linear-gradient(to bottom right,#00f7ef,#fe2c55);
  box-shadow: 0px 3px 5px #fe2c55;
}
.tiktokBox:hover {
  box-shadow: 0px 3px 15px #fe2c55;
}

.weseeBox{
  margin:50px auto;
  width: 320px;
  height: 180px;
  padding-top:9px; 
  border-radius: 15px;
  background-image: linear-gradient(to top right,red,blue);
  box-shadow: 0px 3px 10px blue;
}
.weseeBox:hover {
  box-shadow: 0px 3px 20px blue; 
}

