html {
    font-size:10px;
    font-family:Helvetica,Arialsans-serif;
}
h1 {
    font-family:'Times New Roman' sans-serif;
    font-size:2.6rem;
    text-transform:capitalize;
    text-shadow:2px 2px 1px red;
    text-align:center;
}
h2{
    font-size:2.6rem;
}
ul,ol,dl,p{
    font-size:1.5rem;
}
ol{
    list-style-type:lower-greek;
    list-style-position:inside;
}
ul{
    list-style-type:square;
}
ul li{
    background-position:0 0;
    background-size:1.6rem 1.6rem;
    background-repeat:no-repeat;
}
li, p {
    line-height:1.5;
}
dd,dt{
    line-height:1.5;
}
dt{
    font-weight:bold;
}
dd{
    margin-bottom:1.5rem;
}
#click {
    letter-spacing:.03rem;
}
nav ul {
    padding:0;
    width:100%;
}
nav ul li {
    display:inline;
}
nav a{
    outline:none;
    text-decoration:none;
    display:inline-block;
    width:19%;
    margin-right:0.6%;
    text-align:center;
    line-height:3;
    color:white;
    border-radius:3px;
}
nav a:link,nav a:visited,nav a:focus {
    background-color:darkgrey;
}
nav a:hover {
    background-color:grey;
    border-color:black ;
}
nav a:active {
    background-color:dimgrey;
}

