html {
    font-size:10px;
}
h1 {
    font-family:'Times New Roman' sans-serif;
    font-size:2.6rem;
    text-transform:capitalize;
    text-shadow:2px 2px 1px red;
    text-align:center;
}
p {
    font-size:2rem;
    font-family:Helvetica,Arial, sans-serif;
    line-height:1.5;
}
#click {
    letter-spacing:.03rem;
}


