* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
article{
  background-color:white;
  /*background-image:url(top-image.png);  
  background-repeat: no-repeat;*/
  background-image: url(top-image.png),url(bottom-image.png),
                    linear-gradient(to top right, rgba(0,0,0,0), rgba(0,0,0,0.1)), 
                    linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.1));
                    background-repeat: no-repeat,no-repeat;
  background-position: top,bottom;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  border-left: 1px black solid;
  border-right: 1px black solid;

}
h1{
  background: url(logo.png) no-repeat;
  filter:dropshadow(2px 2px 1px black);

}
